<!doctype html>
<html lang="en" class="no-js"><head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>API - My Authorizations</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">

	<script src="js/libs/modernizr-1.7.min.js"></script></head>
<body id="api_myAuthorizations">
	<div id="all">
		<header>
			<div id="headerInner">
				<a href="/me">Back to my lane</a>
				<h1><img src="images/logo.png" /> <span>Memolane</span></h1>
			</div>
		</header>

		<div id="main" role="main">
			<h2>These are the services that you have granted access to your Memolane account:</h2>
			<a class="apiWhatsUp" href="">What's going on here?</a>
			
			<ul class="apiServiceList">
				<li class="serviceFullLayout underlineStandard">
					<div class="serviceDescription">
						<img src="http://twistedphysics.typepad.com/cocktail_party_physics/images/butterfly.jpg" />
						<div>
							<a href="">I Saw a Butterfly.com</a>
							<p>Get all your butterfly sightings from isawabutterly.com in your Memolane account, complete with pictures, maps, and encyclopedia info about your sighting.</p>
						</div>
					</div>
					<dl>
						<dt>Data:</dt>
						<dd class="apiMemos">946 Memos <span>(last update: 2:43PM 04/14/2011)</span></dd>
						
						<dt>Privacy:</dt>
						<dd class="apiPrivacy">Set By Service <span><a href="">Details</a> | <a href="">Edit</a></span></dd>
						
						<dt>Status:</dt>
						<dd class="apiStatus">Active <span><a href="">Disable</a></span></dd>
					</dl>
				</li>
				
				<li class="serviceFullLayout underlineStandard">
					<div class="serviceDescription">
						<img src="http://twistedphysics.typepad.com/cocktail_party_physics/images/butterfly.jpg" />
						<div>
							<a href="">I Saw a Butterfly.com</a>
							<p>Get all your butterfly sightings from isawabutterly.com in your Memolane account, complete with pictures, maps, and encyclopedia info about your sighting.</p>
						</div>
					</div>
					<dl>
						<dt>Data:</dt>
						<dd class="apiMemos">946 Memos <span>(last update: 2:43PM 04/14/2011)</span></dd>
						
						<dt>Privacy:</dt>
						<dd class="apiPrivacy">Set By Service <span><a href="">Details</a> | <a href="">Edit</a></span></dd>
						
						<dt>Status:</dt>
						<dd class="apiStatus">Active <span><a href="">Disable</a></span></dd>
					</dl>
				</li>
				
				<li class="serviceFullLayout underlineStandard">
					<div class="serviceDescription">
						<img src="http://twistedphysics.typepad.com/cocktail_party_physics/images/butterfly.jpg" />
						<div>
							<a href="">I Saw a Butterfly.com</a>
							<p>Get all your butterfly sightings from isawabutterly.com in your Memolane account, complete with pictures, maps, and encyclopedia info about your sighting.</p>
						</div>
					</div>
					<dl>
						<dt>Data:</dt>
						<dd class="apiMemos">946 Memos <span>(last update: 2:43PM 04/14/2011)</span></dd>
						
						<dt>Privacy:</dt>
						<dd class="apiPrivacy">Set By Service <span><a href="">Details</a> | <a href="">Edit</a></span></dd>
						
						<dt>Status:</dt>
						<dd class="apiStatus disabled">Disabled <span><a href="">Delete</a></span></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/global.js"></script>
	<script>
		var _gaq=[['_setAccount','UA-18503349-2'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script></body>
</html>