/*---------------------------------------------------------------------------------------------------- 

CSS Practices

1. Use - to seperate words in selectors E.G. side-right-corner-memo
2. No capital letters in selectors
3. Don't over qualify a selector make it as short as possible 
4. If you are using !important you are doing something wrong
5. Careful with selectors we have to support IE 8 to a degree (http://goo.gl/wwopi)

CSS Organization
	- reset.css (resets browser defaults)
	- defaults.css (default styles/base styles)
	- commons.css (simple classes used globally)
	- Modules
		- Anything can be a module (e.g. buttons.css, dialogs.css, drawerEditLane.css, memo.css)
		modules can have a corresponding javascript file as well (e.g. drawer.css & drawer.js)

----------------------------------------------------------------------------------------------------*/


.memoGhost {
	z-index:10000000000;
	position:absolute;
	opacity:0.5;
	width:200px;
	margin:0 10px 10px;
	color:#333;
	cursor:pointer;
	border-radius:5px;
	font-size:15px;
	-webkit-box-shadow: inset 0px 0px 8px 1px #000;
	-moz-box-shadow: inset 0px 0px 8px 1px #000;
	box-shadow: inset 0px 0px 8px 1px #000; 
}


/*----------------------------------------------------------------------------------------------------
  SMALL MEMOS
----------------------------------------------------------------------------------------------------*/

	/*---------------------------
	  memo, header & footer
	---------------------------*/

		.memo {
			width:200px;
			margin:0 20px 20px 0;
			overflow:hidden;
			background:#fff;
			color:#333;
			cursor:pointer;
			border-radius:5px;
			font-size:15px;
			-webkit-box-shadow: 0px 2px 2px 1px #000;
			-moz-box-shadow: 0px 2px 2px 1px #000;
			box-shadow: 0px 2px 2px 1px #000; 
		}
			.memoTitleBar {
				height:25px;
				overflow:hidden;
				margin-top:5px;
				border-bottom:1px solid #ddd;
			}
				.memoTitleBar .memoServiceIcon {
					display:block;
					height:20px;
					width:20px;
					text-indent:-9999px;
					margin-left:5px;
					float:left;
					overflow:hidden;
				}
				.memoTitleBar img {
					height:20px;
					float:right;
					margin:0 5px;
				}
			.memoFooterBar {
				min-height:26px;
				background:#e5e5e5 url(/img/lane/sm-memo-bottom.png) no-repeat left top;
				overflow:hidden;
				border-radius:0 0 5px 5px;
			}
				.memoFooterBar li {
					display:inline;
					height:16px;
				}
					.memoFooterBar li .memo_icon {
						display:block;
						overflow:hidden;
						text-indent:-9999px;
						background:url(/img/common/services/icons-memo-bottom.png?v=2) no-repeat left top;
						height:16px;
						width:16px;
						margin:5px;
					}
					.memoFooterBar li .memo_public {
						background-position:-1px -752px;
					}
					.memoFooterBar li .memo_friends {
						background-position:-2px -688px;
					}
					.memoFooterBar li .memo_private {
						background-position:-3px -720px;
					}
					
					.memoFooterBar li .memo_comments,
					.memoFooterBar li .memo_like {
						display:none;
						float:left;
						background-position:0 -627px;
						width:auto;
						text-indent:0;
						padding-right:3px;
						padding-left:17px;
						font-size:12px;
						line-height:16px;
						font-weight:bold;
						color:#888;
					}
					.memoFooterBar li .memo_comments.memo_comments_show,
					.memoFooterBar li .memo_like.memo_like_show {
						display:block;
					}
					
					.memoFooterBar li .memo_like {
						background-position:0 -658px;
					}
					.memoFooterBar li .memo_like.memo_liked_by_current_user {
						background-position:0 -917px;
					}
				.memoOwnerActions {
					float:left;
				}
				.memoActions {
					float:right;
				}


	/*---------------------------
	  memo content
	---------------------------*/

		.memoContent {
			overflow:hidden;
			position:relative;
		}
			.memoContent h3 {
				padding:10px;
				margin:0;
				font-size:13px;
				line-height:14px;
				color:#666;
				font-weight:bold;
			}
			
			.memoContent p {
				padding:10px;
				margin:0;
				font-size:13px;
				line-height:16px;
				color:#555;
			}
			
			.memoContent h3 ~ p {
				padding-top:0;
			}
			
			.memoContent a,
			.memoContent .aStyle {
				background:url(/img/common/icon-link.png) no-repeat 10px 13px;
				text-indent:15px;
				text-decoration:none;
				color:#00BFF3;
			}
			
			.memoContent img {
				display:block;
				margin:0 auto 0 auto;
				max-width:200px;
			}
				
			.memoContent img.smallInsetImage {
				position:absolute;
				bottom:4px;
				right:5px;
				max-height:50px;
				border:2px solid #eee;
				box-shadow:1px 1px 3px 1px #666;
			}			
			
			.memoContent .small-memo-video {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-17px;
				margin-top:-17px;
			}
			.memoContent .small-memo-album {
				position:absolute;
				left:10px;
				bottom:10px;
			}
			
			.memo .memoContent.fixed-photo-height,
			.memo .fixed-photo-height {
				height:150px;
			}
			
			.memoContent .linkTypeText {
				padding:0 0 10px 0;
				margin:10px 10px 0 10px;
				border-bottom:1px solid #ddd;
			}
			.memoContent .linkTypeLink {
				margin-right:10px;
				padding-right:0;
				overflow:hidden;
			}


	/*---------------------------
	  SMALL memo service-specific styles
	---------------------------*/

		/*---------------------------
		  Facebook & Facebook Pages
		---------------------------*/
		
			.memo.facebook .memoContent .caption,
			.memo.facebook-pages .memoContent .caption {
				display:block;
				padding:5px 10px 10px;
				font-size:13px;
				line-height:16px;
				color:#555;
				font-style:italic;
			}
			.memo.facebook .memoContent img:first-child,
			.memo.facebook-pages .memoContent img:first-child {
				max-width: 200px;
			}
		
		
		/*---------------------------
		  feed, Wordpress
		---------------------------*/
		
			.memo.feed .memoHeaderHTML,
			.memo.Wordpress .memoHeaderHTML {
				padding:10px;
				line-height:14px;
				font-weight:bold;
				font-size:12px;
				background:#999;
				color:#fff;
			}
		
		
		/*---------------------------
		  Foursquare
		---------------------------*/
		
			.memo.foursquare .memoContent p {
				position:absolute;
				top:0;
				left:0;
				width:180px;
				opacity:0.7;
				padding:8px 10px;
				background:#666;
				color:#fff;
				text-shadow:1px 1px 1px #000;
			}
		
		
		/*---------------------------
		  Google+
		---------------------------*/
		
			.memo.google-plus .memoContent {
			}
			
			
			.google-plus .memoContent span.article-comment, .google-plus .memoContent span.article-title {
				color: #555;  /* <-- what should this be? */
				margin: 10px;
				display: block;
				font-size: 13px;
			}
			.google-plus .memoContent span.article-comment {
			    padding-top: 7px;
			    padding-bottom: 14px;
			    border-bottom: 1px solid #555;
			}
			.google-plus .memoContent span.article-title {
			    color: #00bfff;
			    padding-bottom: 8px;
			}
		
		
		/*---------------------------
		  Last.fm
		---------------------------*/
		
			.memo.lastfm .memoContent .lastfmImgMask {
				position:relative;
				overflow:hidden;				
				margin:10px;
			}
				.memo.lastfm .memoContent img {
					position:absolute;
					left:0;
					width:37px;
				}
				.memo.lastfm .memoContent h3 {
					padding:0 0 5px 0;
					color:#333;
				}
				.memo.lastfm .memoContent p {
					padding:0;
					color:#666;
				}
				.memo.lastfm .memoContent .lastfmImgMask h3,
				.memo.lastfm .memoContent .lastfmImgMask p {
					padding-left:47px;
				}
		
		
		/*---------------------------
		  MySpace
		---------------------------*/
		
			.memo.myspace .memoContent .memo-mainPhoto {
				height:200px;
			}
		
		
		/*---------------------------
		  SoundCloud
		---------------------------*/
		
			.memo.soundcloud .memoContent img.soundcloud-waveform {
				width:200px;
				height:31px;
				margin-bottom:10px;
				background:#999;
			}
			
			
		/*---------------------------
		  TripIt
		---------------------------*/
		
			.memo.tripit .memoContent .tripArrow {
				position:relative;
				top:-1px;
				font-weight:bold;
				font-size:14px;
			}
			
			.memo.tripit .memoContent p {
				padding: 6px 6px 8px 6px;
				-moz-box-shadow:inset 0 -2px 2px #ccc;
   				-webkit-box-shadow:inset 0 -2px 2px #ccc;
   				box-shadow:inset 0 -2px 2px #ccc;
			}
			
			
		/*---------------------------
		  Twitter
		---------------------------*/
		
			.memo.twitter .memoContent .aStyle {
				background:none;
				text-indent:0;
			}
			
			
		/*---------------------------
		  YouTube
		---------------------------*/
		
			.memo.youtube .memoContent img:first-child {
				height: 150px;
			}
	

/*----------------------------------------------------------------------------------------------------
  LARGE MEMOS
----------------------------------------------------------------------------------------------------*/

	/*---------------------------
	  large memo, header & footer
	---------------------------*/

		.openMemo {
			position: absolute;
			overflow:hidden;
			background: #fff;
			z-index:10000000001;
			display:block;
			visibility:hidden;
			min-width:300px;
			max-width:600px;
			color:#333;
			border-radius:7px;
			-moz-box-shadow:0px 0px 10px 3px #000;
			-webkit-box-shadow:0px 0px 10px 3px #000;
			box-shadow:0px 0px 10px 3px #000;
		}
			.openMemo .largeMemoTitleBar {
				height:25px;
				overflow:hidden;
				margin-top:5px;
				border-bottom:1px solid #f2f2f2;
			}
				.openMemo .memoServiceIcon {
					display:block;
					height:20px;
					width:20px;
					text-indent:-9999px;
					margin:0 5px;
					float:left;
					overflow:hidden;
				}
				
				.openMemo .largeMemoTitleBar .ownerThumbnail {
					float:left;
				}
					.openMemo .largeMemoTitleBar .thumbText {
						float:left;
						height:20px;
						line-height:20px;
					}
					.openMemo .largeMemoTitleBar .ownerThumbnail img {
						max-height:20px;
						margin:0 5px;
					}
				
				a.closeOpenMemo {
					background:url(/img/common/services/icon-minimize-memo-off.png) no-repeat left top;
					width:15px;
					height:14px;
					overflow:hidden;
					float:right;
					margin:3px 8px 0 5px;
					text-indent:-99999px;
				}
				a.closeOpenMemo:hover {
					background:url(/img/common/services/icon-minimize-memo-on.gif) no-repeat left top;
				}
			.openMemo .largeMemoFooterBar {
				height:30px;
				background:#e5e5e5 url(/img/lane/bg-memo-lrg-mid.png) repeat-x left top;
				overflow:hidden;
				border-radius:0 0 5px 5px;
				position:relative;
			}
				.openMemo .largeMemoFooterBar .leftFade {
					position:absolute;
					width:193px;
					height:4px;
					left:0;
					top:0;
					background:#e5e5e5 url(/img/lane/bg-memo-lrg-left.png) repeat-x left top;
				}
				.openMemo .largeMemoFooterBar .rightFade {
					position:absolute;
					width:193px;
					height:4px;
					right:0;
					top:0;
					background:#e5e5e5 url(/img/lane/bg-memo-lrg-right.png) repeat-x left top;
				}
				.openMemo .largeMemoFooterBar li {
					display:block;
					float:left;
				}
					.openMemo .largeMemoFooterBar li .memo_action {
						display:block;
						overflow:hidden;
						text-indent:-9999px;
						height:16px;
						width:16px;
						margin:7px 10px;
						background:url(/img/common/services/icons-memo-bottom.png?v=2) no-repeat left top;
					}
					
					.openMemo .largeMemoFooterBar li .memo_public {
						background-position:0 -70px;
					}
						.openMemo .largeMemoFooterBar li .memo_public:hover {
							background-position:0 -106px;
						}
					.openMemo .largeMemoFooterBar li .memo_friends {
						width:17px;
						background-position:0 -140px;
					}
						.openMemo .largeMemoFooterBar li .memo_friends:hover {
							background-position:0 -173px;
						}
					.openMemo .largeMemoFooterBar li .memo_private {
						background-position:0 1px;
					}
						.openMemo .largeMemoFooterBar li .memo_private:hover {
							background-position:0 -34px;
						}
					
					.openMemo .largeMemoFooterBar li .memo_laneAdd {
						margin-right:0;
						background-position:0 -207px;
					}
						.openMemo .largeMemoFooterBar li .memo_laneAdd:hover {
							background-position:0 -243px;
						}
					.openMemo .largeMemoFooterBar li .memo_laneRemove {
						background-position:0 -279px;
					}
						.openMemo .largeMemoFooterBar li .memo_laneRemove:hover {
							background-position:0 -315px;
						}
					
					.openMemo .largeMemoFooterBar li .memo_share {
						background-position:0 -420px;
					}
						.openMemo .largeMemoFooterBar li .memo_share:hover {
							background-position:0 -455px;
						}
					
					.openMemo .largeMemoFooterBar li .memo_comments,
					.openMemo .largeMemoFooterBar li .memo_comments:hover {
						background-position:0 -490px;
						margin-right:3px;
						float:left;
						cursor:pointer;
					}
					.openMemo .largeMemoFooterBar li .memo_comments:hover {
						background-position:0 -525px;
					}
					
					.openMemo .largeMemoFooterBar li .memo_like,
					.openMemo .largeMemoFooterBar li .memo_like.liked {
						background-position:0 -884px;
						margin-right:3px;
						float:left;
					}
					.openMemo .largeMemoFooterBar li .memo_like.liked {
						background-position:0 -594px;
					}
					.openMemo .largeMemoFooterBar li .memo_like.liking {
						background:url(/img/common/icon-heartbeat.gif) no-repeat left 1px;
					}
						.openMemo .largeMemoFooterBar li .textWithIcon {
							display:block;
							height:16px;
							line-height:16px;
							float:left;
							margin:7px 10px 7px 0;
							font-weight:bold;
						}
						
						.openMemo .largeMemoFooterBar li .memo_like_text:hover {
							text-decoration: underline;
						}
					
					.openMemo .largeMemoFooterBar .memo_dateAdded {
						float:left;
						margin:10px 5px 0 10px;
						padding-left:8px;
						line-height:11px;
						font-size:11px;
						border-left:1px solid #bbb;
						font-weight: normal;
						cursor:default;
						color: #888;
						position: relative;
					}
					
					.openMemo .largeMemoFooterBar .memo_dateAdded #changeMemoDate {
						font-weight: normal;
					}
					
					.openMemo .largeMemoFooterBar .memo_dateAdded #changeMemoDate:hover {
						text-decoration: underline;
					}
					
					.openMemo .largeMemoFooterBar .memo_dateAdded a.largeMemoUserAvatar {
						display: block;
						left:149px;
						top:-3px;
						position: absolute;
					}
					
					.openMemo .largeMemoFooterBar .memo_dateAdded a.largeMemoUserAvatar img {
						border: 1px solid #ccc;;
					}
					
					.openMemo .largeMemoFooterBar .memoOwnerActions:empty ~ .memo_dateAdded {
						padding-left:0;
						border-left:0;
					}
					
					.openMemo .largeMemoFooterBar .memoOwnerActions:empty ~ .memo_dateAdded a.largeMemoUserAvatar {
						left:140px;
					}
					
				.openMemo .memoOwnerActions {
					float:left;
				}
				.openMemo .memoActions {
					float:right;
				}


	/*---------------------------
	  large memo content
	---------------------------*/

		.openMemo {
			width:600px;
			max-width:600px;
		}
			.openMemo .largeMemoContent {
				line-height:0;
				overflow:auto;
				overflow-x:hidden;
			}
				
				.openMemo .memoVideoContainer {
					background:url(/img/common/smallLoaderOnWhite.gif) no-repeat center center;
					text-align:center;
				}
				
				.openMemo .memoMapContainer {
					margin:0 auto;
				}
				
				.openMemo .lrgMemoImg {
					background:url(/img/common/smallLoaderOnWhite.gif) no-repeat center center;
				}
					.openMemo .lrgMemoImg img {
						display:block;
						margin:0 auto;
						max-width:600px;
					}
				
				.openMemo .openMemoPhotoAlbum {
					margin-top:-10px;
					line-height:normal;
					text-align:center;
				}
					.openMemo .openMemoPhotoAlbum img {
						padding-top:10px;
					}
				
				.openMemo h3 {
					overflow:hidden;
					padding:20px 25px 15px;
					font-size:22px;
					line-height:28px;
				}
				
				.openMemo .mapLink {
					padding-left:15px;
					background:url(/img/common/icon-pin.png) no-repeat left center;
				}
				
				.openMemo .memo-event {
					
				}
					.openMemo .memo-event-data {
						position:relative;
						overflow:hidden;
						border-top:1px solid #ccc;
						margin:0 20px;
					}
					.openMemo :first-child {
						border-top:0;
					}
						.openMemo .memo-event-data h4 {
							position:absolute;
							left:0;
							width:80px;
							padding:20px 0;
							font-size:13px;
							font-weight:bold;
							color:#aaa;
						}
						.openMemo .memo-event-data div {
							padding-left:80px;
						}
				
				.openMemo p {
					font-size:13px;
					line-height:18px;
					padding:14px 25px;
					margin:0;
				}
				
				.openMemo h3 ~ p {
					padding-top:0;
				}
				
				.openMemo a {
					text-decoration:none;
					font-weight:bold;
				}
				
				.openMemo .largeMemoContent img {
					max-width:600px;
				}


	/*---------------------------
	  LARGE memo service-specific styles
	---------------------------*/
		
		/*---------------------------
		  feed, Wordpress, Facebook/Facebook-pages note
		---------------------------*/
		
			.openMemo .memoHeaderHTML {
				padding:10px 15px;
				line-height:14px;
				font-weight:bold;
				background:#999;
				color:#fff;
			}
			
			.openMemo .memoIncomingHTML {
				padding:10px 20px 20px;
				line-height:16px;
			}
				
				.openMemo .memoIncomingHTML h1,
				.openMemo .memoIncomingHTML h2,
				.openMemo .memoIncomingHTML h3,
				.openMemo .memoIncomingHTML h4,
				.openMemo .memoIncomingHTML h5
				{
					font-weight:bold;
					padding:10px 0;
					font-size:16px;
					line-height:20px;
				}
				.openMemo .memoIncomingHTML p {
					padding:10px 0;
				}
				
				.openMemo .memoIncomingHTML ol {
					list-style-type:decimal;
					list-style-position:outside;
					margin-left:17px;
				}
				.openMemo .memoIncomingHTML ul {
					list-style-type:disc;
					list-style-position:outside;
					margin-left:17px;
				}
				.openMemo .memoIncomingHTML li {
					margin-left:0;
				}
				
				.openMemo .memoIncomingHTML img {
					max-width:560px;
				}
				.openMemo .memoIncomingHTML i,
				.openMemo .memoIncomingHTML em,
				.openMemo .memoIncomingHTML blockquote
				{
					font-style:italic;
				}
				.openMemo .memoIncomingHTML b,
				.openMemo .memoIncomingHTML strong
				{
					font-weight:bold;
				}
				
				/* FACEBOOK-SPECIFIC SELECTOR!: this is used in conjunction w/ a photo */
				.openMemo.facebook .caption,
				.openMemo.facebook-pages .caption{
					display:block;
					margin-bottom:10px;
					color:#555;
					font-style:italic;
				}
				
				/* TODO: there are lots of other elements we could design here */
		
		
		/*---------------------------
		  Foursquare
		---------------------------*/
			
			.openMemo.foursquare h3 {
				padding-bottom:20px;
			}
				.openMemo.foursquare h3 span {
					padding-left:5px;
					color:#ccc;
				}
				.openMemo.foursquare h3 ~ p {
					margin-top:-5px;
				}

		/*---------------------------
		  Google+
		---------------------------*/
			
			.openMemo.google-plus .largeMemoContent .statusAlone {
				font-size: 20px;
				line-height: 24px;
			}
			
			.openMemo.google-plus .largeMemoContent .notifications {
				max-width:0;
				min-width:0;
				margin:20px;
				float:none;
			}
			.openMemo.google-plus .largeMemoContent .notice-text {
				border-right:0;
				margin-right:0;
			}
			
			.openMemo.google-plus .largeMemoContent .article-comment,
			.openMemo.google-plus .largeMemoContent .article-title,
			.openMemo.google-plus .largeMemoContent .article-content {
				font-size: 13px;
				line-height: 17px;
				color: #555;
			}
			.openMemo.google-plus .largeMemoContent div.article {
				margin:-1px 25px 0;
				padding:20px;
				overflow:hidden;
				border-top:1px solid #ddd;
			}
				.openMemo.google-plus .largeMemoContent div.article .openMemoLinkImage {
					float:left;
					margin-right:15px;
					border:1px solid #ddd;
				}
					.openMemo.google-plus .largeMemoContent div.article .openMemoLinkImage img {
						max-width:100px;
						max-height:100px;
					}
				.openMemo.google-plus .largeMemoContent .article-title {
					color: #00bfff;
					font-weight: bold;
				}
				.openMemo.google-plus .largeMemoContent .article-content {
					margin-top: 8px;
					color: #888;
				}
			
		/*---------------------------
		  Last.fm
		---------------------------*/
			
			.openMemo.lastfm .largeMemoContent div {
				padding:20px 20px 0;
				overflow:hidden;
			}
			
			.openMemo.lastfm .largeMemoContent img {
				float:left;
				width:100px;
				padding:0 20px 20px 0;
			}
			.openMemo.lastfm .largeMemoContent h3 {
				font-size:20px;
				line-height:20px;
				font-weight:bold;
				padding:0;
				color:#dd0e0e;
			}
			.openMemo.lastfm .largeMemoContent h4 {
				font-size:16px;
				line-height:16px;
				font-weight:bold;
				padding:8px 0 0 0;
				color:#999;
			}
			.openMemo.lastfm .largeMemoContent p {
				line-height:13px;
				padding:10px 0 0 0;
				color:#999;
			}
			.openMemo.lastfm .largeMemoContent p:last-child {
				padding-bottom:20px;
			}
			.openMemo.lastfm .largeMemoContent a {
				padding-left:15px;
				background:url('/img/common/icon-link.png') no-repeat left center;
			}
			
			
		/*---------------------------
		  Mixi
		---------------------------*/
			
			.openMemo.mixi p.noPhoto {
				font-size:22px;
				line-height:28px;
				padding:14px 25px 18px;
				margin:0;
			}
			
			
		/*---------------------------
		  SoundCloud
		---------------------------*/
			
			.openMemo.soundcloud h3 img {
				float:left;
				max-width:100px;
				padding-right:15px;
			}
			
			
		/*---------------------------
		  TripIt
		---------------------------*/
			
			.openMemo.tripit .memoMapContainer {
				margin-bottom:10px;
			}
			.openMemo.tripit .tripitLeg {
				margin-bottom:10px;
				overflow:hidden;
				background:#eee;
			}
				.openMemo.tripit .tripitFlightDatum {
					float:left;
					padding:20px 10px;
					border-left:4px solid #fff;
				}
					.openMemo.tripit .tripitFlightDatum strong {
						font-weight:bold;
					}
				.openMemo.tripit .tripitAirports {
					border-left:0;
					font-size:24px;
					background:#137ac2;
					color:#fff;
				}
			
			
		/*---------------------------
		  Twitter
		---------------------------*/
			
			.openMemo.twitter p {
				font-size:22px;
				line-height:28px;
				padding:14px 25px 18px;
				margin:0;
			}
		
	
/*----------------------------------------------------------------------------------------------------
  SERVICE ICONS (for both small & large)
----------------------------------------------------------------------------------------------------*/

	.memo.facebook .memoServiceIcon, .openMemo.facebook .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 0;
	}
	.memo.facebook-pages .memoServiceIcon, .openMemo.facebook-pages .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -40px;
	}
	.memo.twitter .memoServiceIcon, .openMemo.twitter .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -80px;
	}
	.memo.flickr .memoServiceIcon, .openMemo.flickr .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -120px;
	}
	.memo.picasa .memoServiceIcon, .openMemo.picasa .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -160px;
	}
	.memo.lastfm .memoServiceIcon, .openMemo.lastfm .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -200px;
	}
	.memo.gowalla .memoServiceIcon, .openMemo.gowalla .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -240px;
	}
	.memo.foursquare .memoServiceIcon, .openMemo.foursquare .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -280px;
	}
	.memo.instagram .memoServiceIcon, .openMemo.instagram .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -320px;
	}
	.memo.tumblr .memoServiceIcon, .openMemo.tumblr .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -360px;
	}
	.memo.tripit .memoServiceIcon, .openMemo.tripit .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -400px;
	}
	.memo.youtube .memoServiceIcon, .openMemo.youtube .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -440px;
	}
	.memo.myspace .memoServiceIcon, .openMemo.myspace .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -480px;
	}
	.memo.vimeo .memoServiceIcon, .openMemo.vimeo .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -520px;
	}
	.memo.soundcloud .memoServiceIcon, .openMemo.soundcloud .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -560px;
	}
	.memo.wordpress .memoServiceIcon, .openMemo.wordpress .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -600px;
	}
	.memo.feed .memoServiceIcon, .openMemo.feed .memoServiceIcon {
		background:url(/img/common/services/icons-services-circles.png?v=1) no-repeat 0 -640px;
	}
	.memo.google-plus .memoServiceIcon, .openMemo.google-plus .memoServiceIcon {
		background:url(/img/common/services/icon_google-plus_circle-small.png?v=1) no-repeat 0 0px;
	}
	.memo.mixi .memoServiceIcon, .openMemo.mixi .memoServiceIcon {
		background:url(/img/common/services/icon_mixi_circle-small.png?v=1) no-repeat 0 0px;
	}

